*{margin:0;padding:0;border:0;outline:0;font:inherit;vertical-align:baseline;-webkit-tap-highlight-color:rgba(0,0,0,0)}
html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6{-webkit-text-size-adjust:none}
html{font-size: 62.5%}
@media screen and (min-width:375px){
html{font-size:73.24%}
}
@media screen and (min-width:414px){
html{font-size:73.24%}
}
@media screen and (min-width:481px){
html{font-size:94%}
}
@media screen and (min-width:561px){
html{font-size:109%}
}
@media screen and (min-width:641px){
html{font-size:125%}
}
body{margin:0 auto;min-width:320px;max-width:640px;font-family:"Microsoft YaHei",Arial,"Helvetica";background:#f2f2f2;color:#333;font-size:1.2rem}
ol,ul,li{list-style:none}
table{border-collapse:collapse;border-spacing:0}
mark{background: none;}
h1,h2,h3,h4,h5,h6{font-weight:normal}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
strong,var,em,i{font-style:normal;font-weight:normal}
a{text-decoration:none;color:#333}
img{display:block;width:100%}
del{text-decoration:line-through}
/****原有的base文件*****/
/*底部*/
.plc_footer .ftr_list{overflow: hidden;}
.plc_footer .ftr_list.login{padding: 1.5rem 2rem;border-bottom: 1px #ebeced solid;}
.plc_footer .ftr_list span{float: left;display: inline-block;box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;text-align: center;font-size: 1rem;color: #6e7f89;}
.plc_footer .ftr_list span.sp{width: 33.33333%;color: #aeb8be;}
.plc_footer .ftr_list.versions{padding: 0 14.84375%;line-height: 4.16667rem;}
.plc_footer .ftr_list.versions span{width: 33.33333%;}
.plc_footer .ftr_list.login span{color: #197fe7;padding: 0 .7rem;border-right: 1px #ebeced solid;width:auto !important;font-size: 1.2rem;}
.plc_footer .ftr_list.login a{color: #197fe7;}
.plc_footer .ftr_list.login a:first-child span{border-right: 1px #ebeced solid;padding-left: 0;padding-right: .7rem;max-width: 11rem;display: inline-block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.plc_footer .ftr_list.login a:last-child span{float: right;}
.plc_footer .ftr_list.login span:last-child{border-right: none;}
.plc_footer .ftr_gme p{line-height: 1.5rem;text-align:center;font-size: 1rem;color: #bfc2c5;}
.plc_footer .login_on{padding: 1.33333rem 0;box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;overflow: hidden;border-bottom: 1px #ebeced solid;text-align: center;}
.plc_footer .login_on a{color: #197fe7;}
.plc_footer .login_on a span{color: #197fe7;}
.plc_footer .login_on a span.tel{max-width: 11rem;display: inline-block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color: #197fe7;}
.plc_footer .login_on span{float: left;display: inline-block;margin-left: .7rem;line-height: 1.6rem;font-size: 1.2rem;color: #6e7f89;text-align: center;}
.plc_footer .login_on .tel{padding: 0 .7rem 0 1.9rem;float: left;margin-left: 0;border-right: 1px solid #ebeced;color: #acacac;line-height: 1.6rem;}
.plc_footer .login_on .feedback{float: right;padding-right: .7rem;}
.plc_footer .ftr_list.login .more{float: right;padding-right: 0;padding-left: 0.9rem;}
.plc_footer .more {padding-top:0 !important; padding-bottom:0!important;background:none;}
.plc_footer .login_on .more{float: right;margin-right:1.9rem !important;}
.go_back{display: none;position: fixed;opacity: 0;right: 0.5rem;bottom:1.5rem;width:3.08333rem;}
/*选择点击变红按钮*/
.c_btn_o{display: inline-block;width: 1.6rem;height: 1.6rem;border: 1px solid #c7c7c7;border-radius: 1.6rem;}
.c_btn_o .c_btn_in{float: left;display: none;width: 1.2rem;height: 1.2rem;margin: 0.2rem;border-radius: 1.2rem;background: #ff5151;}
.clear{height:0;overflow: hidden;clear: both;}

/*其它页面导航*/
.nav_other{overflow: hidden;}
.nav_other .title{background: #ef3030;}
.nav_other .title h2{height: 4.4rem;line-height: 4.4rem;text-align: center;font-size: 1.7rem;color: #fff;}
.nav_other .title .return{float: left;display: inline-block;width: 3.5rem;height: 4.5rem;background: url(../images/nav_return.png) 1.3rem 1.3rem no-repeat;background-size: 1.0rem 1.8rem;background-origin: content-box;}
.nav_other .title .more{float: right;display: inline-block;padding-left: 1.5rem;width: 2.5rem;height: 4.5rem;background: url(../images/nav_more.png) 0 1.3rem no-repeat;background-size: 0.4rem 1.9rem;background-origin: content-box;}
.nav_other .list{display: none;margin-top: 1.0rem;padding: 0 0.75%;overflow: hidden;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.nav_other .list li{float: left;display: inline-block;width: 25%;}
.nav_other .list li .classifying{padding: 0 16%;}
.nav_other .list li .classifying.sp{position:relative;}
.nav_other .list li .classifying img{margin: 0 auto;width: 3.0rem;}
.nav_other .list li .classifying p{margin-top: 0.5rem;text-align: center;color: #5e5e5e;}
.nav_other .list li .classifying .num{position: absolute;top: 0;left: 50%;width: 1.6rem;box-sizing: border-box;-webkit-box-sizing: border-box;height: 1.6rem;border-radius: 0.8rem;background: #dc4950;text-align: center;line-height: 1.6rem;color: #fff;}

/*等待加载加载*/
.loading_outer{display: box;display: -webkit-box;display: -moz-box;box-align:center;-webkit-box-align:center;-moz-box-align:center;box-pack:center;-webkit-box-pack:center;-moz-box-pack:center;position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 100;background: rgba(0,0,0,0.75);}
.loading_outer .loading_in{width: 55%;max-width: 50.0rem;padding: 1.5rem 0 0.8rem;background: #fff;border-radius: 0.3rem;}
.loading_outer .loading_in .pic{width: 70%;margin: 0 auto;}
.loading_outer .loading_in .con{text-align: center;line-height: 3.0rem;font-size: 1.5rem;color: #666;}
/*公共表单*/
.plc_input{background:#fff;overflow:hidden;border:1px solid #ccc;}
.plc_input input{padding:0rem 1.0rem;height:3.0rem;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;border:none;background:none;outline:none;font-size:1.5rem;color:#333;}
/*公共验证码表单*/
.plc_tel_code:after{display:block;clear:both;content:"";}
.plc_tel_code .get_code_btn{float:right;height:3.2rem;margin-left:1.0rem;padding:0rem 1.0rem;background:#ef3030;line-height:3.2rem;color:#fff;}
.plc_tel_code .get_code_btn_off{float:right;margin-left:1.0rem;padding:0rem 1.0rem;height:3.2rem;background:#a5a5a5;line-height:3.2rem;color:#fff;}
/*公共下拉框*/
.plc_select{position:relative;background:#fff;border:1px solid #ccc;}
.plc_select:after{position:absolute;right:1.0rem;top:0rem;display:block;width:1.2rem;height:3.0rem;content:'';background:url(../images/select_icon.png) no-repeat center;background-size:contain;}
.plc_select .con{display:block;height:3.0rem;padding:0rem 3.0rem 0rem 1.0rem;line-height:3.0rem;}
.plc_select select{position:absolute;top:0rem;left:0rem;width:100%;height:100%;opacity:0;}
/*大公共按钮*/
.plc_btn_big{height:4.0rem;border-radius:0.3rem;line-height:4.0rem;text-align:center;font-size:1.6rem;}
/*一个公共按钮确定*/
.plc_btn_big.sure{background:#f80;color:#fff;}
/*一个公共按钮取消*/
.plc_btn_big.off{background:#a5a5a5;color:#fff;}
/*确定取消按钮一起*/
.plc_btn_two:after{display:block;clear:both;content:"";}
.plc_btn_two .btn{display:block;float:left;width:49%;height:3.8rem;box-sizing:border-box;-webkit-box-sizing:border-box;border:1px solid #e6e6e6;border-radius:0.3rem;line-height:3.8rem;text-align:center;font-size:1.6rem;}
.plc_btn_two .cancle{background:#fff;color:#333;}
.plc_btn_two .sure{margin-left: 2%;background:#f80;color:#fff;}
/*手机号验证*/
.plc_tel_mask{display: none;}
.plc_tel_mask .plc_mask_layer{position:fixed;left:0rem;top:0rem;display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center;display:box;box-align:center;box-pack:center;width:100%;height:100%;margin:0rem;background:rgba(0,0,0,0.5);}
.plc_tel_mask .plc_mask_layer .popup_module{width:81.25%;background:#fff;border-radius:0.3rem;}
.plc_tel_mask .plc_mask_layer .popup_module .title{padding:2.0rem 0rem;line-height:1.6rem;text-align:center;font-size:1.6rem;color:#666;}
.plc_tel_mask .plc_mask_layer .popup_module .con{margin:0rem 2.0rem 2.0rem;}
.plc_mask_layer .popup_module .plc_tel_code{margin-top:1.0rem;}
.plc_mask_layer .popup_module .plc_btn2{margin-top:2.0rem;padding-top:2.0rem;border-top:1px solid #e6e6e6;}
a.plc_btn{display:block;height:4.4rem;line-height:4.4rem;background:#ef3030;font-size:1.6rem;color:#fff;text-align:center;border-radius:0.3rem;}
a.plc_btn_off{display:block;height:4.4rem;line-height:4.4rem;background:#a5a5a5;font-size:1.6rem;color:#fff;text-align:center;border-radius:0.3rem;}

/* 微信导航适配 */
.fix_nav{position: fixed;bottom: 4.5rem;left: 0;margin:0;border:none;width: 20%;z-index:9999;}
.fix_nav ul{padding: 1.0rem 0;overflow: hidden;}
.fix_nav ul li{display: none;}
.fix_nav ul li:first-child{display: block;}
.fix_nav ul li div{position: relative;margin: 0 auto;border-radius: 22.5rem;width: 4.5rem;height: 4.5rem;}
#switch{background: url(../images/weixin/add.png) top left no-repeat;background-size: 4.5rem 4.5rem;transition: all 0.5s ease-in-out;}
.fix_nav .home{background: url(../images/weixin/nav_home.png) top left no-repeat;background-size: 4.5rem 9.0rem;}
.fix_nav .home:hover{background: url(../images/weixin/nav_home.png) bottom right no-repeat;background-size: 4.5rem 9.0rem;}
.fix_nav .trolley{background: url(../images/weixin/nav_trolley.png) top left no-repeat;background-size: 4.5rem 9.0rem;}
.fix_nav .trolley:hover{background: url(../images/weixin/nav_trolley.png) bottom right no-repeat;background-size: 4.5rem 9.0rem;}
.fix_nav .trolley .amt{position: absolute;top: -0.5rem;right: -0.5rem;border-radius: 0.9rem;min-width: 1.8rem;background: #dc4950;text-align: center;color: #fff;font-size: 1.1rem;line-height: 1.8rem;}
.fix_nav .classify{background: url(../images/weixin/nav_classify.png) top left no-repeat;background-size: 4.5rem 9.0rem;}
.fix_nav .classify:hover{background: url(../images/weixin/nav_classify.png) bottom right no-repeat;background-size: 4.5rem 9.0rem;}
.fix_nav .mygome{background: url(../images/weixin/nav_mygome.png) top left no-repeat;background-size: 4.5rem 9.0rem;}
.fix_nav .mygome:hover{background: url(../images/weixin/nav_mygome.png) bottom right no-repeat;background-size: 4.5rem 9.0rem;}
.fix_nav .close{-o-transform: rotate(45deg);-ms-transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);transition: all 0.5s ease-in-out;}
/*公共顶部下载引导浮层*/
.supernatant {position: relative;min-height:6.0rem;}
.supernatant .sign {position: absolute;right: 0.5rem;top: 50%;width: 3.0rem;height: 3.0rem;border-radius: 1.5rem;background: rgba(0,0,0,0.5);margin: -1.5rem 0 -1.5rem 0;}
.supernatant .sign i img{width:2.0rem;height:2.0rem;margin:0.3rem auto;}
/****原有base文件结束******/
.float_l{float:left}
.float_r{float:right}
.mar_r10{margin-right:10px}
.mar_b10{margin-bottom:10px}
.arial{font-family:'arial'}
.gome_icon{font-family:'gome_icon'}
.t_red{color:#c70000}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.ellipsis_two{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}
.ellipsis_three{display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;}
.letter_middle{display:box;display:-webkit-box;box-orient:vertical;-webkit-box-orient:vertical;box-pack:center;-webkit-box-pack:center}
.radio{display: inline-block;width:16px;height:16px;border:1px #ccc solid;border-radius:16px}
.radio_ckd:before{float:left;width:12px;height:12px;margin:2px;background:-webkit-linear-gradient(top,#e30000,#bb0101);border-radius:12px;content:''}
.nav {position: relative;text-align: center;}
.nav .toolbar{width: 100%;height: 4.4rem;line-height: 4.4rem;background: #ef3030;color: #fff;}
.toolbar{position:relative;text-align:center; width: 100%;height: 4.4rem;line-height: 4.4rem;background: #ef3030;color: #fff;}
.toolbar h2 {font-size: 1.8rem; text-align: center;margin:0 7rem;}
.toolbar .nav_ico { width: 3.5rem; height: 4.4rem;font-size: 2rem; text-align: center;}
.toolbar .nav_back{ position: absolute; top:0; left:0;}
.toolbar .nav_more{  position: absolute; top:0; right:0;}
.toolbar .nav_home{ position: absolute;top:0; right:3.5rem;}
.toolbar .nav_action { position:absolute;top:0; right:0;min-width: 3.5rem;max-width: 6rem; padding-right: 1rem;font-size: 1.5rem; text-align: center;}
.nav_searchBox{margin:0 8.1rem 0 4.1rem}
.nav_searchHistory{margin:0 1.5rem 0 6.3rem}
.nav .nav_ulist{position:absolute;top:4.4rem;right:0;z-index:99;font-size:1.5rem;color:#ccc}
.nav_ulist li{width:12.5rem;height:5.5rem;line-height:5.5rem;border-bottom:1px solid #464646;background:#333;opacity:.95;}
.nav_ulist li:last-child{border-bottom:none}
.nav_ulist li a{display:block;width:100%;height:100%;padding-left:20%;box-sizing:border-box;text-align:left;color:#fff}
.nav_ulist li a:before{float:left;margin-right:1rem;speak:none;font-size:1.8rem}
input[type=search]{-webkit-appearance:none}
input::-webkit-search-cancel-button{display:none}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill{-webkit-box-shadow: 0 0 0 1000px #FFFFFF inset;}
.search_module{height:4.4rem}
.search_bar{padding-top:.7rem;height:3.7rem}
 .fixed_search{position:fixed;top:0;left:0;width:100%;height:100%;background:#fff;overflow:hidden;z-index:999}
.fixed_search .search_bar{padding:.7rem 1.5rem .8rem 0;background:#ef3030;height:2.9rem}
.search_module .search_bar .cancle{float:left;display:none;text-align:center;line-height:2.9rem;color:#fff;width:6.3rem;font-size:1.5rem}
.search_module .search .search_btn,.search_module .search .search_clear{display:none;height:2.9rem;float:right;width:2.5rem}
.search_module .search{border-radius:3px;height:2.9rem;line-height:2.9rem;background:#fff;overflow:hidden}
.search_module .search .search_btn{padding-right:.5rem;display: block;}
.search_module .search .search_btn:before{text-align:center;line-height:2.9rem;font-size:2rem;color:#ef3030}
.search_module .search .search_clear:before{text-align:center;line-height:2.9rem;font-size:1.5rem;color:#d2d2d2}
.search_module .search .search_input_bar{margin:0 6rem 0 0;height:2.9rem;line-height:2.9rem}
.search_module .search .search_input_bar input{border:0;height:2.9rem;width:100%;outline:0;color:#333;padding:0 .5rem;box-sizing:border-box;border-radius:.3rem;font:400;line-height:2.9rem}
.search_module .search .search_item{display:none; float:left;color: #666;padding-left: 1rem;font-size: 1.4rem;}
.search_module .search .search_item:before{float: right;margin-left:0.5rem;font-size:0.9rem;margin-top:0.1rem;}
.search_show{display:none;border-top:1px solid #e6e6e6;background:#fff}
.search_show .hot_keywords{display:none;padding:1rem;border-bottom:1px solid #e6e6e6;overflow:hidden}
.search_show .hot_keywords span{display:inline-block;float:left;height:2.5rem;line-height:2.5rem;margin:.5rem;border:.1rem solid #bebebe;border-radius:.1rem;padding:0 .8rem;font-size:1.2rem;color:#999}
.search_show .history{display:none;padding-bottom:1.5rem}
.search_show .u_list li{border-bottom:1px solid #e6e6e6;line-height:4.4rem;color:#666;font-size:1.2rem;text-align:left}
.search_show .u_list li:last-child{border-bottom:none}
.search_show .history .u_list{padding-left:1.5rem;border-bottom:1px solid #e6e6e6}
.search_show .history .u_list li{position:relative;padding-left:2rem}
.search_show .history .u_list li:before{position:absolute;top:1.4rem;left:0;width:1.7rem;height:1.7rem;line-height:1.7rem;font-size:1.7rem;color:#999}
.search_show .history .clear_btn{display:block;margin:1.5rem auto 0;border:1px solid #666;border-radius:.4rem;width:59%;text-align:center;line-height:3.2rem;font-size:1.4rem;color:#666}
.plc_footer{padding-bottom:4.5rem;background:#fff;}
.plc_footer .usr_bar{padding:1.5rem 2rem;height:1.5rem;border-bottom:.1rem solid #e6e6e6;}
.plc_footer .usr_bar span{float:left;padding:0 .7rem;color:#197fe7;line-height:1.5rem;}
.plc_footer .usr_bar span.more {float: right;padding: 0;margin-left: 1.6rem;}
.plc_footer .usr_bar a:first-child span{padding-left:0;border-right:.1rem solid #e6e6e6;max-width: 11rem;
    display: inline-block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.plc_footer .usr_bar a:last-child span{float:right;padding:0;}
.plc_footer .version{padding:0 14.84375%;overflow:hidden;line-height:5rem;}
.plc_footer .version span{float:left;width:33.33333%;color:#6e7f89;text-align:center;}
.plc_footer .version .touch{color:#aeb8be;}
.plc_footer .gome_info{color:#bfc2c5;text-align:center;line-height:1.8rem;}
#gotop {transform: rotate(90deg);-webkit-transform: rotate(90deg);background: rgba(0,0,0,.5);border-radius: .2rem;color: #fff;font-size: 2rem;}
/******layout.css*********/
.box{
    display: -webkit-box;
    display: -moz-box;
    display: box;
}
.box.center {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
}
.box.h_center {
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
}
.box.v_center:not(.vertical) {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
}
.box.v_center.vertical {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
}
.flexbox.h_center {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
}
.flexbox.v_center:not(.vertical) {
	height: 6rem;
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    align-items: center;
    -webkit-align-items: center;
}
.flexbox.v_center.vertical {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}
.flexbox.center {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-align: center;
    box-pack: center;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
/* start 弹性布局*/
/* @date: 2015/7/3 14:54:56; */
/* @author: zhaoye; */
.flexbox {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flexbox.reverse{
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-direction: row-reverse;
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    box-direction: reverse;
}
.flex1,
.flexitem {
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.flex2{
    display: block;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
}
.flex3{
    display: block;
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    -webkit-flex: 3;
    flex: 3;
}
.flex4{
    display: block;
    -webkit-box-flex: 4;
    -moz-box-flex: 4;
    -webkit-flex: 4;
    flex: 4;
}
.flex5{
    display: block;
    -webkit-box-flex: 5;
    -moz-box-flex: 5;
    -webkit-flex: 5;
    flex: 5;
}
.flex6{
    display: block;
    -webkit-box-flex: 6;
    -moz-box-flex: 6;
    -webkit-flex: 6;
    flex: 6;
}
.flex7{
    display: block;
    -webkit-box-flex: 7;
    -moz-box-flex: 7;
    -webkit-flex: 7;
    flex: 7;
}
.flex8{
    display: block;
    -webkit-box-flex: 8;
    -moz-box-flex: 8;
    -webkit-flex:8;
    flex: 8;
}
.flex9{
    display: block;
    -webkit-box-flex: 9;
    -moz-box-flex: 9;
    -webkit-flex:9;
    flex: 9;
}
/*end*/

/*栅格 start 2015/8/10 14:36:31*/
.grid {
    box-sizing: border-box;
    display: block;
    width: 100%;
}
.grid .row {
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.grid .column_1,
.grid .column_2,
.grid .column_3,
.grid .column_4,
.grid .column_5,
.grid .column_6,
.grid .column_7,
.grid .column_8,
.grid .column_9,
.grid .column_10,
.grid .column_11,
.grid .column_12,
.grid .column1,
.grid .column2,
.grid .column3,
.grid .column4,
.grid .column5,
.grid .column6,
.grid .column7,
.grid .column8,
.grid .column9,
.grid .column10,
.grid .column11,
.grid .column12 {
    box-sizing: border-box;
    display: block;
    float: left;
}
.grid,
.grid .row,
.grid .column_1:before,
.grid .column_2:before,
.grid .column_3:before,
.grid .column_4:before,
.grid .column_5:before,
.grid .column_6:before,
.grid .column_7:before,
.grid .column_8:before,
.grid .column_9:before,
.grid .column_10:before,
.grid .column_11:before,
.grid .column_12:before,
.grid .column1:before,
.grid .column2:before,
.grid .column3:before,
.grid .column4:before,
.grid .column5:before,
.grid .column6:before,
.grid .column7:before,
.grid .column8:before,
.grid .column9:before,
.grid .column10:before,
.grid .column11:before,
.grid .column12:before {
    content: " ";
    display: table;
}
.grid,
.grid .column_1:after,
.grid .column_2:after,
.grid .column_3:after,
.grid .column_4:after,
.grid .column_5:after,
.grid .column_6:after,
.grid .column_7:after,
.grid .column_8:after,
.grid .column_9:after,
.grid .column_10:after,
.grid .column_11:after,
.grid .column_12:after,
.grid .column1:after,
.grid .column2:after,
.grid .column3:after,
.grid .column4:after,
.grid .column5:after,
.grid .column6:after,
.grid .column7:after,
.grid .column8:after,
.grid .column9:after,
.grid .column10:after,
.grid .column11:after,
.grid .column12:after {
    clear: both;
}

.grid .column_1,
.grid .column1{
    width: 8.33333333%;
}
.grid .column_2,
.grid .column2{
    width: 16.66666667%;
}
.grid .column_3,
.grid .column3{
    width: 25%;
}
.grid .column_4,
.grid .column4{
    width: 33.33333333%;
}
.grid .column_5,
.grid .column5{
    width: 41.66666667%;
}
.grid .column_6,
.grid .column6,{
    width: 50%;
}
.grid .column_7,
.grid .column7{
    width: 58.33333333%;
}
.grid .column_8,
.grid .column8{
    width: 66.66666667%;
}
.grid .column_9,
.grid .column9{
    width: 75%;
}
.grid .column_10,
.grid .column10{
    width: 83.33333333%;
}
.grid .column_11,
.grid .column11{
    width: 91.66666667%;
}
.grid .column_12,
.grid .column12{
    width: 100%;
}

.grid2:after,
.grid3:after,
.grid4:after,
.grid5:after,
.grid6:after,
.grid7:after,
.grid8:after,
.grid9:after,
.grid10:after,
.grid11:after,
.grid12:after {
    content: " ";
    display: table;
    clear: both;
}

.grid12>*,
.grid11>*,
.grid10>*,
.grid9>*,
.grid8>*,
.grid7>*,
.grid6>*,
.grid6>*,
.grid5>*,
.grid4>*,
.grid3>*,
.grid2>* {
    box-sizing: border-box;
    display: block;
    float: left;
}

.grid12>*:before,
.grid11>*:before,
.grid10>*:before,
.grid9>*:before,
.grid8>*:before,
.grid7>*:before,
.grid6>*:before,
.grid5>*:before,
.grid4>*:before,
.grid3>*:before,
.grid2>*:before{
    content: " ";
    display: table;
}

.grid12>*:after,
.grid11>*:after,
.grid10>*:after,
.grid9>*:after,
.grid8>*:after,
.grid7>*:after,
.grid6>*:after,
.grid5>*:after,
.grid4>*:after,
.grid3>*:after,
.grid2>*:after{
    clear:both;
}

.grid12>* {
    width: 8.333333333%;
}
.grid11>* {
    width: 9.0909090909%;
}
.grid10>* {
    width: 10%;
}
.grid9>* {
    width: 11.11111111%;
}
.grid8>* {
    width: 12.5%;
}
.grid7>* {
    width: 14.28571428%;
}
.grid6>* {
    width: 16.66666667%;
}
.grid5>* {
    width: 20%;
}
.grid4>* {
    width: 25%;
}
.grid3>* {
    width: 33.33333333%;
}
.grid2>* {
    width: 50%;
}
.block{
	display: block;
}
.hid{
	display: none;
}

/*end*/
