* { margin:0; padding:0; list-style-type:none; text-decoration:none; border: 0px; -webkit-tap-highlight-color: rgba(0,0,0,0);-mo-webkit-tap-highlight-color: rgba(0,0,0,0);tap-highlight-color: rgba(0,0,0,0);}
img{border:0px; vertical-align: middle; max-width:100%;}
textarea{resize: none; outline:none; }

pre{white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;  }

body{ font-size:30px; line-height:1.5; color:#000;}

a{color:#000;}
.dddddddddddddd{ color:#a0a0a0}

.tops_hs{ position:relative; z-index:2; height:84px; background:url(img/toubj.png) 0 0 repeat-x; line-height:84px; border-bottom:1px solid #dcdcdc; box-shadow:0px 1px 2px 1px rgba(0, 0, 0, 0.2);}
.tops_hs .fanh{ position:absolute; top:0; left:0;}
.tops_hs .fanh img{ width:43px;}
.tops_hs .fanh a{ display:block; padding:0 20px; color:#a0a0a0;}
.tops_hs .title{ text-align:center;}
.tops_hs .caid{ position:absolute; top:0; right:0; padding:0 20px; font-size:40px; color:#a0a0a0;}

.dhcd_hs{ position:fixed; top:0; left:0; z-index:99; display:none; width:100%; height:100%; background:#fff;}
.dhcd_hs.on{ display:block;}
.dhcd_hs .cadd{ text-align:center;}
.dhcd_hs .cadd  a{ display:block; padding:30px 0;}
.dhcd_hs .cadd p{ border-bottom:1px solid #dbdbdb;}
.dhcd_hs .guab{ position:absolute; bottom:50px; left:50%; width:80px; height:80px; margin-left:-40px; line-height:80px; color:#a0a0a0; text-align:center; border:1px solid #dcdcdc; border-radius:80px;}

.dhh_hs{position:fixed; bottom:50px; right:50px; z-index:9;}
.dhh_hs a{ display:block; width:90px; height:90px; line-height:90px; font-size:46px; text-align:center; color:#fff; background: rgba(0, 0, 0, 0.4); border-radius:100px;}

.bottom_hs{ padding:50px 20px 20px; font-size:20px; text-align:center;}
.bottom_hs .wz{ padding-top:20px;}

/*广告大图*/
.ban1_hs{ position:relative;}
.ban1_hs img{ width:100%;}
.ban1_hs .swiper-button-next{ background-image:url(img/zy_s1.png); width:50px; height:50px; background-size:50px 50px;}
.ban1_hs .swiper-button-prev{ background-image:url(img/zy_s2.png);width:50px; height:50px; background-size:50px 50px;}

.ind_tilte{ position:relative; margin:0 20px; padding:30px 0; text-align:center;}
.ind_tilte span{ position:relative; z-index:2; padding:0 20px; background:#fff;}
.ind_tilte .xain{ position:absolute; top:50%; left:0; z-index:1; width:100%; height:2px; background:#dbdbdb}

.ind_cp{ padding:0 20px 20px 20px;}
.ind_cp .cp_list{ position:relative; margin-bottom:20px;}
.ind_cp .cp_list a{ display:block; padding:10px 50px 10px 10px; border:1px solid #dbdbdb; border-radius:3px;}
.ind_cp .cp_list p.p2 span{ color:#fa5e00}
.ind_cp .cp_list .jt{ position:absolute; top:50%; right:20px; margin-top:-30px; font-size:40px; color:#a0a0a0}

.ind_pnp{ padding:0 20px}
.ind_pnp .gd{ padding:20px 0 30px; text-align:center;}
.ind_pnp .gd a{ display:inline-block; padding:5px 30px; font-size:24px; color:#a0a0a0; border:1px solid #dbdbdb; border-radius:50px;}

.product_list .list{ position:relative; border-bottom:1px solid #dbdbdb;}
.product_list .list a{ display:block; padding:20px 80px 20px 20px;}
.product_list .list p.p2{ color:#fa5e00}
.product_list .list p.p3{ font-size:22px; color:#a0a0a0;}
.product_list .list .wz{ padding-left:10px; border-left:30px solid #dbdbdb;}
.product_list .list .jt{ position:absolute; top:50%; right:20px; margin-top:-40px; font-size:50px; color:#a0a0a0;}

.product_date .title{ padding:20px;}
.product_date .title p.p1 span{ display:inline-block; font-size:48px; border-bottom:10px solid #fa5e00}
.product_date .title .ww{font-size:22px;}
.product_date .nrt{ padding:20px; font-size:22px;}
.product_date .nrt .tu{ padding:20px; text-align:center; border-top:2px dotted #a0a0a0}
.product_date .nrt p.name span{padding-left:10px; font-size:30px; border-left:10px solid #fa5e00}
.product_date .nrt .itme{ padding-bottom:20px;}

.honor{ padding:20px;}
.honor .wz{ font-size:26px;}
.honor .wz span{ font-size:48px; font-weight:bold; color:#fa5e00;}
.honor .zs{ margin-top:20px; padding-top:20px; border-top:1px solid #dbdbdb}
.honor .zs .bt{ padding-bottom:20px;}
.honor .zs ul li{ margin-bottom:20px; padding:20px; text-align:center; border:1px solid #dbdbdb;}

.about{ padding:20px;}
.about span{ font-size:48px; color:#fa5e00}

.customer{ padding:20px;}

.contact{ padding:20px;}
.contact .fss{text-align:center;}
.contact .fss p.p1{ font-size:40px; color:#fa5e00}
.contact .fss p.an a{ display:inline-block; padding:5px 60px; color:#fff; background:#7cb300; border-radius:15px;}
.contact .itme{ padding:20px 0; border-bottom:1px solid #dbdbdb}

.sales_detail_name{}
.sales_detail_num{margin-left: 20px;font-size:35px;margin-bottom: 10px}
.sales_detail_ul{margin-top: 20px;}
.circle {    
	border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}
.circle_color1{
    background-color: '#FE8463'
}
.circle_color2{
	background-color: '#9BCA63'
}
.circle_color3{
	background-color: '#FAD860'
}
.circle_color4{
	background-color: '#60C0DD'
}

























































